{#
    Copyright (C) 2018  GoodOldDownloads

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'main.twig' %}

{% block title %}{% trans %}ROM Packs{% endtrans %}{% endblock title %}

{% block content %}
<div class="container">
    {% include 'top_bar.twig' %}
    <h1>{% trans %}ROM Packs{% endtrans %}</h1>
    <p><a href="https://drive.google.com/file/d/1TSbdJAev3MOkFIU3Ow0mXO_NDhsTIzmi/view?usp=sharing">Atari - 2600</a></p>
    <p><a href="https://drive.google.com/file/d/18h0feTcTDzAZ_IO4xAnaL16Wn9wES2wp/view?usp=sharing">Atari - 5200</a></p>
    <p><a href="https://drive.google.com/file/d/154O63qLYdLOMhxI8GvMSowgmXpOK14a6/view?usp=sharing">Atari - 7800 [Headered]</a></p>
    <p><a href="https://drive.google.com/file/d/1fMWTgZmCgqshB8EViUsjV0AhWbfTX3q2/view?usp=sharing">Atari - Jaguar</a></p>
    <p><a href="https://drive.google.com/file/d/1sO6-s_B1R_fbtReLNcgzAIioFAkzLgJG/view?usp=sharing">Atari - Lynx [Headered]</a></p>
    <p><a href="https://drive.google.com/file/d/1zzz0qflPPIBkOS7mc4JxH42_462S_oGK/view?usp=sharing">Atari - ST</a></p>
    <p><a href="https://drive.google.com/file/d/1O6xPy3N439KAwdNQ14iU6NFeqJAPSj--/view?usp=sharing">Bandai - WonderSwan</a></p>
    <p><a href="https://drive.google.com/file/d/1GNHumKLputmkAgUBNhlLyaZqXo6mXDH1/view?usp=sharing">Bandai - WonderSwan Color</a></p>
    <p><a href="https://drive.google.com/file/d/1ulz573Rv_jCV7Txc2BXXj4w7Z8pK8hV1/view?usp=sharing">Benesse - Pocket Challenge V2</a></p>
    <p><a href="https://drive.google.com/file/d/18pKSnMDck74urvrx65SBkhiehHpmdthM/view?usp=sharing">Casio - Loopy</a></p>
    <p><a href="https://drive.google.com/file/d/13kWeRPkkSFCDZk_NcqFlAdo24uqC9t28/view?usp=sharing">Casio - PV-1000</a></p>
    <p><a href="https://drive.google.com/file/d/1yvlguJ81vEUzAzVk3_M7BPRwGAWG5Dn_/view?usp=sharing">Coleco - ColecoVision</a></p>
    <p><a href="https://drive.google.com/file/d/1uHl_tIfXW9h4GTfPoybr5XAX8M7pNAce/view?usp=sharing">Commodore - 64</a></p>
    <p><a href="https://drive.google.com/file/d/1JyyWV_krUu7Z63uMGJjIwTiNlnAtNBEl/view?usp=sharing">Commodore - 64 (Preservation Project)</a></p>
    <p><a href="https://drive.google.com/file/d/1TAXHfKKBhW5I_SkrYXU_Rb3HE-6QITaT/view?usp=sharing">Commodore - 64 (Tapes)</a></p>
    <p><a href="https://drive.google.com/file/d/12E5FuSRRXfU9NVCxN_Pr9uHtAbLcJco0/view?usp=sharing">Commodore - Amiga</a></p>
    <p><a href="https://drive.google.com/file/d/1Qg0-VRlGyWA-iEO2gJ-6cYjpv3UwX8Xt/view?usp=sharing">Commodore - Plus-4</a></p>
    <p><a href="https://drive.google.com/file/d/1CSYd46wsOPmsC2PJetVGavXm7wfIqTiH/view?usp=sharing">Commodore - VIC-20</a></p>
    <p><a href="https://drive.google.com/file/d/1Ijs1qDy2gAfB5bBIepfdCDroUYbfVauv/view?usp=sharing">Emerson - Arcadia 2001</a></p>
    <p><a href="https://drive.google.com/file/d/1HPP6fRRneWyeQ-y5fNYRUjOT1MUBlDYh/view?usp=sharing">Entex - Adventure Vision</a></p>
    <p><a href="https://drive.google.com/file/d/126V304srIHxPN5u7wuOcmMI5SdwcoBeG/view?usp=sharing">Epoch - Super Cassette Vision</a></p>
    <p><a href="https://drive.google.com/file/d/1nkhEUzzf7ledkjbxPBrJhtQrPIRF78ox/view?usp=sharing">Fairchild - Channel F</a></p>
    <p><a href="https://drive.google.com/file/d/1uAD8WVhkdpFfRLi88tCOJFqCQqVzXlhs/view?usp=sharing">Funtech - Super Acan</a></p>
    <p><a href="https://drive.google.com/file/d/1QgqgSeT5zSP5wVdhO1fn2nyO8bDfddeW/view?usp=sharing">GamePark - GP32</a></p>
    <p><a href="https://drive.google.com/file/d/1nWzl1tiEwpLBodwEgToDS3lpYQokwAqu/view?usp=sharing">GCE - Vectrex</a></p>
    <p><a href="https://drive.google.com/file/d/1D5KbqZ5mT_XhgRMgQunVckiMtPn547YB/view?usp=sharing">Hartung - Game Master</a></p>
    <p><a href="https://drive.google.com/file/d/1VOqtmqiv-c3KtUFjCc-3rtmK9EKkUCUh/view?usp=sharing">Konami - Picno</a></p>
    <p><a href="https://drive.google.com/file/d/1hxpFZSuKy4rNY8Hvn4-jSX1-vSC095mS/view?usp=sharing">LeapFrog - Leapster Learning Game System</a></p>
    <p><a href="https://drive.google.com/file/d/1joCniLRoMcgJgfb9PP3pvKUf1QUFpj6w/view?usp=sharing">Magnavox - Odyssey2</a></p>
    <p><a href="https://drive.google.com/file/d/1PP_kADF7aLR5XoWAk03FUa3XmwreiEpf/view?usp=sharing">Mattel - Intellivision</a></p>
    <p><a href="https://drive.google.com/file/d/11naL0mYfkrDajh2PALKh61rhi174WlNf/view?usp=sharing">Microsoft - MSX</a></p>
    <p><a href="https://drive.google.com/file/d/1G7053SQieQR9SijI8Bdba_qFo1_yHhmH/view?usp=sharing">Microsoft - MSX2</a></p>
    <p><a href="https://drive.google.com/file/d/1SngLaA_KiaekEUmYGqrypYRuGmFskpUj/view?usp=sharing">NEC - PC Engine - TurboGrafx 16</a></p>
    <p><a href="https://drive.google.com/file/d/18dKiagOhyBGcK9wPDYwLIJtzbqs2C8NT/view?usp=sharing">NEC - PC Engine SuperGrafx</a></p>
    <p><a href="https://drive.google.com/file/d/1vY3CoRUf7rpAKFFxdAvJPEduR7uhp60G/view?usp=sharing">Nintendo - e-Reader</a></p>
    <p><a href="https://drive.google.com/file/d/1PrZjEI99XOQXGEmqnnPbYGD9uEyBj3my/view?usp=sharing">Nintendo - Family Computer Disk System [headered]</a></p>
    <p><a href="https://drive.google.com/file/d/1Yh8guh4gfX7_tbwMXKkOz5zxyWB-M5Df/view?usp=sharing">Nintendo - Game Boy</a></p>
    <p><a href="https://drive.google.com/file/d/11ARCNLLJqPSNmnaie48JUfkjrfqxqqIu/view?usp=sharing">Nintendo - Game Boy Advance</a></p>
    <p><a href="https://drive.google.com/file/d/1WqRX1l2Oi903RNIeGLuIY-DG5qPcyE2n/view?usp=sharing">Nintendo - Game Boy Color</a></p>
    <p><a href="https://drive.google.com/file/d/1kKkHe0h8_yd_rkdakR8_Mxq89WX40tZj/view?usp=sharing">Nintendo - Nintendo 64 BigEndian</a></p>
    <p><a href="https://drive.google.com/file/d/1V3ujgJUIIWgb2aX6hTu5Apa0TRxh-L6F/view?usp=sharing">Nintendo - Nintendo 64DD</a></p>
    <p><a href="https://drive.google.com/file/d/137loylGwGvNL1p0MXpJ1Wh852HV5TX5G/view?usp=sharing">Nintendo - Nintendo Entertainment System [headered]</a></p>
    <p><a href="https://drive.google.com/file/d/1DiQb_J4tnq2MTrYsuJdtK9kFeFNixirM/view?usp=sharing">Nintendo - Pokemon Mini</a></p>
    <p><a href="https://drive.google.com/file/d/17fTRfF7cHWnb7vZWAaGWXnae4aKAdTGJ/view?usp=sharing">Nintendo - Satellaview</a></p>
    <p><a href="https://drive.google.com/file/d/1k7e8XTc94702YjezyE8XDBF6g4pTbgUG/view?usp=sharing">Nintendo - Sufami Turbo</a></p>
    <p><a href="https://drive.google.com/file/d/1g--2hvW_OmWpXKd9UK5wjsD6Rj_bJ8C4/view?usp=sharing">Nintendo - Super Nintendo Entertainment System</a></p>
    <p><a href="https://drive.google.com/file/d/1fGl9QqW6G1uIIbUas6vv2uW4q8zQU0UE/view?usp=sharing">Nintendo - Virtual Boy</a></p>
    <p><a href="https://drive.google.com/file/d/1E45YNDVwA5_gjJ3LeVXPqi4haDjFkd-B/view?usp=sharing">Nokia - N-Gage</a></p>
    <p><a href="https://drive.google.com/file/d/1Skx7474YLQKWV0ug5DkH3FhcZLjr4Wv4/view?usp=sharing">Philips - Videopac+</a></p>
    <p><a href="https://drive.google.com/file/d/1Qo6Kavxec2LKNNKhklB6_JL87nDOANNg/view?usp=sharing">RCA - Studio II</a></p>
    <p><a href="https://drive.google.com/file/d/1fAuFWECZjXXATB6q9wHoF4daDQeKwssr/view?usp=sharing">Sega - 32X</a></p>
    <p><a href="https://drive.google.com/file/d/1-zYwW2m-Ny7kbQwNfRwRtLLkYGNEWv_A/view?usp=sharing">Sega - Game Gear</a></p>
    <p><a href="https://drive.google.com/file/d/1svYJ5l7sL4FfxsHlkHeXbTFjvPmYyWUF/view?usp=sharing">Sega - Master System - Mark III</a></p>
    <p><a href="https://drive.google.com/file/d/19kArJFxO17GlPSJ4EiAccVIM0aS1SqPe/view?usp=sharing">Sega - Mega Drive - Genesis</a></p>
    <p><a href="https://drive.google.com/file/d/1ppdUM0ROgx9kjRF77kmsQhzAKxvgTDIi/view?usp=sharing">Sega - PICO</a></p>
    <p><a href="https://drive.google.com/file/d/1f2Ga18Kx94ARDeM7cBPPkVmTuel5a5Hk/view?usp=sharing">Sega - SG-1000</a></p>
    <p><a href="https://drive.google.com/file/d/1iPeq9Fgi6aSgwEE7QDSC2APaRbkYg3Tj/view?usp=sharing">Sinclair - ZX Spectrum +3</a></p>
    <p><a href="https://drive.google.com/file/d/1Ghtap_fpa7f2vXtZoiBrbHTgGgINtCk9/view?usp=sharing">SNK - Neo Geo Pocket</a></p>
    <p><a href="https://drive.google.com/file/d/1Sn3q5bb16lXIOrn87BJe88la2MazjSTq/view?usp=sharing">SNK - Neo Geo Pocket Color</a></p>
    <p><a href="https://drive.google.com/file/d/1nxAef-ymCwOUP9jWYSc0kDO9n_MjSmWC/view?usp=sharing">Tiger - Game.com</a></p>
    <p><a href="https://drive.google.com/file/d/1HHlJNG7HiEVH6a29zkwktCnxJBwppMoV/view?usp=sharing">Tiger - Gizmondo</a></p>
    <p><a href="https://drive.google.com/file/d/1HpRfDg6oV1G5qo_WloWp16WoQU05CErJ/view?usp=sharing">VTech - CreatiVision</a></p>
    <p><a href="https://drive.google.com/file/d/1yBZsJhJl4ZWYjkRSh9rQv3qhNAxMBrfo/view?usp=sharing">VTech - V.Smile</a></p>
    <p><a href="https://drive.google.com/file/d/1NGfxDulteJfPn_RPFN4fphrj0R3qvScl/view?usp=sharing">Watara - Supervision</a></p>
</div>
{% endblock content %}